<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>
<h2>Данные о книге:</h2>
<br/>
<a th:text="'Название книги: ' + ${book.getTitle()}">title</a>
<br/>
<a th:text="'Автор: ' + ${book.getAuthor()}">author</a>
<br/>
<a th:text="'Год печати: ' + ${book.getYear()}">year</a>
<br/>
<hr/>
<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Редактировать"/>
</form><br/>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить книгу"/>
</form>


<hr/>

<a th:unless="${owner == null}" th:text="'Читатель: ' +
${owner.getFullName()}">reader</a>
<br/>
<form th:unless="${owner == null}" th:method="PATCH" th:action="@{/books/{id}/free(id=${book.getId()})}">
    <input type="submit" value="Освободить книгу"/>
</form>
<a th:if="${owner==null}">
    <a>Книга сейчас свободна</a>
    <br/>
    <a>Выдать пользователю книгу:</a>
    <form th:method="PATCH" th:action="@{/books/{id}/give(id=${book.getId()})}">
        <label for="reader">Выберите человека</label>
        <select th:object="${reader}" th:field="*{id}" id="reader">
            <option th:each="reader : ${readers}" th:value="${reader.getId()}" th:text="${reader.getFullName()}">
            </option>
        </select>
        <input type="submit" value="Назначить книгу"/>
    </form>
</a>

</body>
</html>