<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>
<h2>Данные о книге:</h2>
<br/>
<a th:text="'Название книги: ' + ${bookWithReader.getTitle()}">title</a>
<br/>
<a th:text="'Автор: ' + ${bookWithReader.getAuthor()}">author</a>
<br/>
<a th:text="'Год печати: ' + ${bookWithReader.getYear()}">year</a>
<br/>
<a th:href="@{/books/{id}/edit(id=${bookWithReader.getId()})}">Редактировать данные книги</a>
<br/>

<a th:unless="${bookWithReader.getFullName() == null}" th:text="'Читатель: ' +
${bookWithReader.getFullName()}">reader</a>
<a th:if="${bookWithReader.getFullName()==null}">Книга сейчас свободна</a>

</body>
</html>