<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>
<h2>Данные о книге:</h2>
<br/>
<a th:text="'Название книги: ' + ${bookWithReader.getTitle()}">title</a>
<br/>
<a th:text="'Автор: ' + ${bookWithReader.getAuthor()}">author</a>
<br/>
<a th:text="'Год печати: ' + ${bookWithReader.getYear()}">year</a>
<br/>
<a th:href="@{/books/{id}/edit(id=${bookWithReader.getId()})}">Редактировать данные книги</a>
<br/>

<a th:unless="${bookWithReader.getFullName() == null}" th:text="'Читатель: ' +
${bookWithReader.getFullName()}">reader</a>
<br/>
<form th:method="PATCH" th:action="@{/books/{id}/free(id=${bookWithReader.getId()})}">
    <input type="submit" value="Освободить книгу"/>
</form>
<a th:if="${bookWithReader.getFullName()==null}">
    <a>Книга сейчас свободна</a>
    <br/>
    <a>Выдать пользователю:</a>
    <form th:method="PATCH" th:action="@{/books/{id}/give(id=${bookWithReader.getId()})}" th:object="${bookWithReader}">
        <select th:field="*{fullName}">
            <option th:each="reader : ${readers}" th:value="${reader.fullName}" th:text="${reader.fullName}">
            </option>
        </select>
        <input type="submit" value="Выдать книгу"/>
    </form>
</a>

</body>
</html>