<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление читателя</title>
</head>
<body>
<h3>Введите данные читателя:</h3>
<form th:method="POST" th:action="@{/readers}" th:object="${reader}">
    <label for="fullName">Введите фио пользователя: </label>
    <input type = "text" th:field="*{fullName}" id="fullName">
    <br/>
    <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name error</div>
    <br/>
    <label for="burthYear">Введите год рождения пользователя: </label>
    <input type = "text" th:field="*{birthYear}" id="burthYear">
    <div style="color:red" th:if="${#fields.hasErrors('burthYear')}" th:errors="*{birthYear}">Birth year error</div>
    <br/>
    <input type="submit" value="Добавить пользователя"/>

</form>

</body>
</html>